*{
    margin: 0;
    padding: 0;
}
.container1{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% 10% auto 10%;
    grid-template-areas: 
    "logo"
    "menu"
    "wrapper"
    "footer";
}
.logo{
    background-color: black;
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    height: 50px;
    width: 100px;
}
.menu{
    
    grid-area: menu;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.menu .fa-bars{
    display: none;
}


.menu ul{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    
      
}
.menu ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;   
}

.menu ul li a{
    font-family: sans-serif;
    padding-top: 3px;
    padding-bottom: 3px;
    text-decoration: none;
    color: black; 
    
    
}
.menu ul li a:hover{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(media/bgdmisu.jpg);
    background-size: cover;
    background-position: center;
    height: auto;
    grid-area: wrapper;
}
.wrapper h1{
    font-family: fascinate;
    color: white;
    font-size: 150px;
}
.wrapper p{
    font-family: sans-serif;
    color: white;
}
.wrapper a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px 20px;
}
.wrapper a:hover{
    background-color: rgba(0,0,0,0.5);
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-area: footer;
    
}
.footer i{
    font-size: 50px;
    cursor: pointer;
    margin: 0;
}
/*SECOND PAGE*/

.container2{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% 10% auto 10%;
    grid-template-areas: 
    "logo"
    "menu"
    "wrapper"
    "footer";
}
.logo2{
    background-color: black;
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo2 img{
    height: 50px;
    width: 100px;
}
.menu2{
    
    grid-area: menu;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.menu2 .fa-bars2{
    display: none;
}


.menu2 ul{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    
      
}
.menu2 ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;   
}

.menu2 ul li a{
    font-family: sans-serif;
    padding-top: 3px;
    padding-bottom: 3px;
    text-decoration: none;
    color: black; 
    
    
}
.menu2 ul li a:hover{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.wrapper2{
    
    margin-left: 100px;
    margin-right: 100px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(media/bgdmisu.jpg);
    background-size: cover;
    background-position: center;
    grid-area: wrapper;
}


.footer2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-area: footer;
    
}
.footer2 i{
    font-size: 50px;
    cursor: pointer;
    margin: 0;
}


    






@media only screen and (max-width: 500px){
    .menu ul, .menu2 ul{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
   
    .menu ul li a, .menu2 ul li a{
        font-weight: 600;
        color: white;
        border-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu ul li a:hover, .menu2 ul li a:hover{
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    .wrapper{
        background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(mobile-media/bgdmisu.jpg);
        margin-left: 0px;
        margin-right: 0px;
        
        
        
    }
    .container1, .container2{
        grid-template-rows: 10% 5% 75% 10%;
    }
    
    .wrapper h1{
        font-size: 80px;
    }
    .menu .fa-bars, .menu2 .fa-bars2{
        display: block;
    }
    .menu, .menu2{
        position: relative;
    }
    .menu ul, .menu2 ul{
        display: none;
        position: absolute;
    }
    .menu:hover ul, .menu2:hover ul{
        display: flex;
        transition: 0.5s;
        color: white;
        background-color: black;
        height: 22vh;
        padding-top: 10px;
        margin-top: 115px;
    }
    
    .menu:hover .fa-bars, .menu2:hover .fa-bars2{
        transform: rotate(90deg);
        transition: 0.5s;
    }
    .wrapper2{
        background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(mobile-media/bgdmisu.jpg);
        margin-left: 0px;
        margin-right: 0px;
        
        overflow: auto;
        
    }
    .lightbox{
        background-color: rgba(0,0,0,0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        
        height: 80%;
        width: 100%;
    }
    .photos{
        display: flex;
        justify-content: center;
        align-items: center;
        
        height: 90%;
        width: 100%;
    }
    
    .photos img{
        display: none;
        padding: 0;
        margin: 0;
        height: 100%;
        width: auto;
       
    }
    
    #pic1:target {
        display: block;
    }
    #pic2:target{
        display: block;
        height: auto;
        width: 90%;
    }
    #pic3:target{
        display: block;
    }
    #pic4:target{
        display: block;
        height: auto;
        width: 90%;
    }
    #pic5:target{
        display: block;
    }
    #pic6:target{
        display: block;
        height: auto;
        width: 90%;
    }
    #pic7:target{
        display: block;
    }
    #pic8:target{
        display: block;
        height: auto;
        width: 90%;
    }
    #pic9:target{
        display: block;
    }
    #pic10:target{
        display: block;
    }
    #pic11:target{
        display: block;
    }
    #pic12:target{
        display: block;
    }
    #pic13:target{
        display: block;
    }
    #pic14:target{
        display: block;
    }
    
    .thumbnails{
        margin-right: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.1);
        height: 20%;
        width: 100%;
        overflow: auto;
    }
    .thumbnails img{  
        margin-right: 10px;
        width: auto;
        height: 70%;
    }
    .thumbnails a{
        margin: 5px;
    }
    
    
        
        
    
    html, body {
        margin: 0;
        height: 100%;
        overflow: hidden;
    }
}
