*{
    margin: 0;
    padding: 0;
}
.container1{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% 10% 60% 10%;
    grid-template-areas: 
    "logo"
    "menu"
    "wrapper"
    "footer";
}
.logo{
    background-color: black;
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    height: 50px;
    width: 100px;
}
.menu{
   
    grid-area: menu;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.menu ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 50%;
      
}
.menu ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.menu ul li a{
    font-family: sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: black; 
}
.menu ul li a:hover{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
.wrapper{
    margin-left: 50px;
    margin-right: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(media/bgdmisu.jpg);
    background-size: cover;
    background-position: center;
    height: auto;
    grid-area: wrapper;
    margin-bottom: 10px;
}
.footer{
    background-color: chartreuse;
    grid-area: footer;
}




@media only screen and (max-width: 500px){
    .menu ul{
        justify-content: center;
        flex-direction: column;
    }
    .menu ul li a{
        font-weight: 600;
    }
    .wrapper{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(mobile-media/bgdmisu.jpg);
        margin-left: 0px;
        margin-right: 0px;
    }
    .container1{
        grid-template-rows: 10% auto 60% 10%;
    }

}