*{
    margin: 0;
    padding: 0;
}
.container1{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% 10% auto 10%;
    grid-template-areas: 
    "logo"
    "menu"
    "wrapper"
    "footer";
}
.logo{
    background-color: black;
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    height: 50px;
    width: 100px;
}
.menu{
    
    grid-area: menu;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.menu .fa-bars{
    display: none;
}


.menu ul{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    
      
}
.menu ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;   
}

.menu ul li a{
    font-family: sans-serif;
    padding-top: 3px;
    padding-bottom: 3px;
    text-decoration: none;
    color: black; 
    
    
}
.menu ul li a:hover{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(media/bgdmisu.jpg);
    background-size: cover;
    background-position: center;
    height: auto;
    grid-area: wrapper;
}
.wrapper h1{
    font-family: fascinate;
    color: white;
    font-size: 150px;
}
.wrapper p{
    font-family: sans-serif;
    color: white;
}
.wrapper a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px 20px;
}
.wrapper a:hover{
    background-color: rgba(0,0,0,0.5);
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-area: footer;
    
}
.footer i{
    font-size: 50px;
    cursor: pointer;
    margin: 0;
}






@media only screen and (max-width: 500px){
    .menu ul{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
   
    .menu ul li a{
        font-weight: 600;
        color: white;
        border-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu ul li a:hover{
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    .wrapper{
        background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(mobile-media/bgdmisu.jpg);
        margin-left: 0px;
        margin-right: 0px;
    }
    .container1{
        grid-template-rows: 10% 5% 75% 10%;
    }
    
    .wrapper h1{
        font-size: 80px;
    }
    .menu .fa-bars{
        display: block;
    }
    .menu{
        position: relative;
    }
    .menu ul{
        display: none;
        position: absolute;
    }
    .menu:hover ul{
        display: flex;
        color: white;
        background-color: black;
        height: 25vh;
    }
    
    .menu:hover .fa-bars{
        display: none;
    }
    
        
    
   
}